images/
Images/
Data/
data/
annotations/
Annotations/
output*
*ckpt*
train.record
test.record
*.tar.gz*
*.pb
desktop.ini
*tfevents*
*ckpt*
*.zip
base_models/
base_models/*
bboxes/
.init
backup_folder/
model.